.row{
    padding: 20px;
}
div{
    background-color: #aed0f5;
    text-align: center;
}
/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
position: absolute;
width: 16%;
border-radius: 100%;
box-shadow: 3px 3px 3px rgb(128, 128, 128);
left: 2%;
top: 600px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
position: absolute;
width: 30%;
border-radius: 100%;
box-shadow: 3px 3px 3px rgb(128, 128, 128);
left: 33%;
top: 950px;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30%;
    }