<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.png" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1><strong>Acerca de mí</strong></h1>
        <p style="text-align: justify;"> Mi nombre es Juan Andrés Subiabre Saldivia, tengo 33 años, soy oriundo de la ciudad de Ushuaia, Provincia de Tierra del Fuego,
lugar donde aún resido. Desde que fui mayor de edad, mis primeros pasos laborales fueron en el ámbito de la construcción de viviendas 
participando de las distintas tareas que ello involucra siendo ayudante de albañilería, carpintero, pintor y electricista. Posteriormente
ingrese a la Municipalidad de Ushuaia, donde me desempeño como Administrativo en el Área de Transporte hasta la actualidad.
Respecto a mis estudios, siempre fui curioso y multidiciplinario, buscando saciar mis ganas de incorporar conocimientos a cada instante,
aunque la Programación es algo que siempre quise aprender y me fascina, siendo estos mis primeros pasos en el ambiente. Soy Técnico electromecánico, soy Ingeniero Pesquero, se idioma inglés,
tengo cursos realizados que van desde una certificación como instalador domiciliario de sanitarios hasta un curso básico de Autocad. 
Constantemente estoy actualizando conocimientos.         

        </p>
    </span>
</div>
</div>